<style type="text/css" media="screen">
{% include "./btn/main.css" %}
</style>
<table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stargazers</th>
      <th>Forks</th>
      <th>Tracked</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% set username=github_user.login %}
    {% set button_sizes=[{'name': 'small', 'width': '52px', 'height': '20px'}, {'name': 'large', 'width': '152px', 'height': '30px'}] %}
    {% for repository in repositories %}
    <tr>
      <td>{{ repository.name }}</td>
      <td>{{ repository.watchers }}</td>
      <td>{{ repository.forks }}</td>
      <td>{{ repository_is_being_tracked(repository) }}</td>
      <td>
        <a href="#" data-uk-modal="{target:'#my-id'}" class="uk-button"><i class="uk-icon-code"></i> Get tracking code</a>
        <div id="my-id" class="uk-modal">
	  <div class="uk-modal-dialog">
	    <a class="uk-modal-close uk-close"></a>
            {% for kind in ['watchers', 'forks', 'follow'] %}
            <p><h2>{{ kind.title() }}</h2> </p>
            <div class="uk-grid">
            {% for size in button_sizes %}
              <div class="uk-width-1-2">
            <p><h3>{{ size.name.title() }}</h3></p>
              <p>

                {% if kind == "watchers" %}
                  {% set text="Star" %}
                {% elif kind == "forks" %}
                  {% set text="Fork" %}
                {% elif kind == "follow" %}
                  {% set text="Follow @{0}".format(username) %}
                {% endif %}
                <em>demo:</em><br />
                {% set count=repository.get(kind, 0) %}
                {% include "./btn/btn.html" %}
                </p>
<br />
                <p>
                <em>code:</em><br />
                <textarea style="width:100%;height:100px" class="pre">{{ '''<iframe src="'''+full_url_for('.serve_btn', size=size.name, project=repository.name, username=username, kind=kind)+'''" allowtransparency="true" frameborder="0" scrolling="0" width="'''+size.width+'''" height="'''+size.height+'''"></iframe>''' }}</textarea>
              </p>
              </div>
            {% endfor %}
            </div>
              <hr />
          {% endfor %}
	  </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
