
<div id="tracking-codes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tracking-codes" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        {% raw %}
        <h4 class="modal-title" id="tracking-codes">Tracking Codes for {{ current_project.full_name }}</h4>
        {% endraw %}
      </div>
      <div class="modal-body">
{% set username=github_user.login %}
{% set button_sizes=[{'name': 'small', 'width': '52px', 'height': '20px'}, {'name': 'large', 'width': '152px', 'height': '30px'}] %}
	    <a class="uk-modal-close uk-close"></a>
            <p><h2>Tracking PNG</h2> </p>
            <p>
              <div class="uk-panel">
                <img src="{{ full_url_for(".serve_stat_png", username=username, project=repository.name) }}?norecord" width="95" height="18" />
              </div>
              <br />
              <div class="uk-panel">
                <textarea style="width:100%" class="pre">{{ '''<img src="' + ssl_full_url_for(".serve_stat_png", username=username, project=repository.name) + '" width="95" height="18" />''' }}</textarea>
                <textarea style="width:100%" class="pre">{{ '''[![instanc.es Badge](' + ssl_full_url_for(".serve_stat_png", username=username, project=repository.name) + ')](http://instanc.es)''' }}</textarea>
              </div>
            </p>
            <p><h2>Tracking SVG</h2> </p>
            <p>
              <div class="uk-panel">
                <img src="{{ full_url_for(".serve_stat_svg", username=username, project=repository.name) }}?norecord" width="95" height="18" />
              </div>
              <br />
              <div class="uk-panel">
                <textarea style="width:100%" class="pre">{{ '''<img src="' + ssl_full_url_for(".serve_stat_svg", username=username, project=repository.name) + '" width="95" height="18" />''' }}</textarea>
                <textarea style="width:100%" class="pre">{{ '''[![instanc.es Badge](' + ssl_full_url_for(".serve_stat_svg", username=username, project=repository.name) + ')](http://instanc.es)''' }}</textarea>
              </div>
            </p>
            {% for kind in ['watchers', 'forks', 'follow'] %}
            <p><h2>{{ kind.title() }}</h2> </p>
            <div class="uk-grid">
            {% for size in button_sizes %}
              <div class="uk-width-1-2">
                <p><h3>{{ size.name.title() }}</h3></p>
                <p>
                {% if kind == "watchers" %}
                  {% set text="Star" %}
                {% elif kind == "forks" %}
                  {% set text="Fork" %}
                {% elif kind == "follow" %}
                  {% set text="Follow @{0}".format(username) %}
                {% endif %}
                  <em>demo:</em><br />
                {% set count=repository.get(kind, 0) %}
                {% include "./btn/btn.html" %}
                </p>
                <br />
                <p>
                  <em>code:</em><br />
                  <textarea style="width:100%;height:100px" class="pre">{{ '''<iframe src="'''+ssl_full_url_for('.serve_btn', size=size.name, project=repository.name, username=username, kind=kind)+'''" allowtransparency="true" frameborder="0" scrolling="0" width="'''+size.width+'''" height="'''+size.height+'''"></iframe>''' }}</textarea>
                </p>
              </div>
            {% endfor %}
            </div>
            <hr />
          {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
