svg.map {
  clear: both;
  margin-top: -200px;
}
path.country {
  fill: rgba(183,183,183,1);
}
svg.map path.below10 {
  fill: rgba(183,183,183,.3);
}
svg.map path.below100 {
  fill: #EDF8B1;
}
svg.map path.below1000 {
  fill: #7FCDBB;
}
svg.map path.below10000 {
  fill: #2C7FB8;
}
svg.map path.above10000 {
  fill: #0E4C78;
}


footer {
  height: 300px;
}

footer h2 {
  margin: 0;
  padding: 0;
}

footer p {
  margin: 0;
padding:0;
}

footer p a {
  color: rgba(255, 255, 255, .7);
}

footer p a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration:none;
}

@keyframes do-spin {
  0% {

    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: do-spin 1403ms infinite linear;
}

.container.loader {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 50%;
  height: 50%;
  margin: auto auto;
}

body {
  font-size: 16px;
}

.sidebar {
  font-size: 16px;
}

.logo a{
font-size: 36px;
text-align: left;
margin: 0;
padding: 0;
margin-left: -40px;
}
