<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="Instances">
  <head>
    <meta charset="UTF-8">
    <title>instanc.es - analytics for open source developers</title>
    <meta name="robots" content="noindex">
    {% block csshead %}
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/uikit.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/simple-map-d3.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', v=settings.RELEASE, filename='css/style.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block jshead %}
    <script src="{{ url_for('static', v=settings.RELEASE, filename='js/prefixfree.min.js') }}"></script>
    {% endblock %}
  </head>
  <body {% block body_attributes %}{% endblock %}>
    <nav class="uk-navbar mm-navbar">
      <a class="uk-navbar-brand" href="{{ url_for('.index') }}">instanc.es</a>
      <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
          {% block navbar %}
          <li>
            <a href="{{ url_for('.login') }}"><i class="uk-icon-github-alt"></i> Sign in with Github</a>
          </li>
          {% endblock %}
        </ul>
      </div>
    </nav>
    {% block main %}
      {% endblock %}
      <div class="uk-grid footer">
        <div class="uk-container uk-container-center uk-text-center">
	  <ul class="uk-subnav uk-subnav-line">
	    <li><h1>Instanc.es</h1></li>
	  </ul>
	  <ul class="uk-subnav uk-subnav-line">
	    <li><a href="http://github.com/gabrielfalcao">Github</a></li>
	    <li><a href="http://twitter.com/gabrielfalcao">Twitter</a></li>
	  </ul>
	  <div class="uk-panel">
	    <p>&copy; Copyright 2013 Instanc.es</p>
	    <p>Made with &hearts; in Brooklyn</p>
	  </div>
        </div>
      </div>
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44784280-1', 'instanc.es');
      ga('send', 'pageview');
      </script>
    {% block jsbottom %}
      {% include "jsbottom.html" %}
    {% endblock %}
  </body>
</html>
