{% extends "base.html" %}
{% block navbar %}
<li>
  <a href="{{ url_for('.show_settings') }}"><img src="{{ github_user.avatar_url }}" width="40" /> {{ github_user.login }}</a>
</li>
{% endblock %}

{% block body_attributes %}ng-controller="DashboardController" data-socketaddress="{{ settings.SCHEMA }}{{ settings.DOMAIN }}" data-world-map-url="{{ url_for('.json_world_map_for_user', username=github_user.login) }}"{% endblock %}

{% block main %}
<object id="socket-meta"
        data-username="{{ github_user.login }}"></object>

<div class="main uk-grid">
  <div class="uk-width-1-1">
    <article class="uk-article uk-container uk-container-center">
      <h1 class="uk-article-title">{{ github_user.name }}'s Dashboard</h1>
      <hr class="uk-article-separator" />
      <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#panes'}">
        <li><a href="#list-repositories"><i class="uk-icon-list">&nbsp;</i>Repository list</a></li>
        <li class="uk-active"><a href="#graphs"><i class="uk-icon-bar-chart">&nbsp;</i>Graphs</a></li>
      </ul>

      <!-- This is the container of the content items -->
      <ul id="panes" class="uk-switcher">
        <li id="list-repositories">
          {% include "./dashboard/list-repositories.html" %}
        </li {#id="list-repositories"#}>
        <li id="graphs">
          {% include "./dashboard/graphs.html" %}
        </li {#id="graphs"#}>
      </ul>
    </article>
  </div>
</div>
{% endblock %}

{% block jsbottom %}
  {% include "jsbottom.html" %}
  <script src="{{ url_for('static', v=settings.RELEASE, filename='js/controllers.dashboard.js') }}"></script>
{% endblock %}
