{% extends "base.html" %}

{% block body_attributes %}ng-controller="DashboardController" data-socketaddress="{{ settings.SCHEMA }}{{ settings.DOMAIN }}" data-world-map-url="{{ url_for('.json_world_map_for_user', username=github_user.login) }}"{% endblock %}

{% block main %}
<object id="socket-meta"
        data-username="{{ github_user.login }}"></object>
<object id="dashboard-meta"
        data-modal-tracking-url="{{ url_for(".ajax_tracking_modal_html", project="{login}-PLACEHOLDER".format(**github_user)) }}"
        data-context-ajax-url="{{ url_for(".ajax_dashboard_repo_list") }}"></object>

<div class="main uk-grid">
  <div class="uk-width-1-1">
    <article class="uk-article uk-container uk-container-center">
      <h1 class="uk-article-title">{{ github_user.name }}'s Dashboard</h1>
      <hr class="uk-article-separator" />
      <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#panes'}">
        <li {% if not tracked_repositories %}class="uk-active"{% endif %}><a href="#list-repositories"><i class="uk-icon-list">&nbsp;</i>Tracking Codes</a></li>
        <li {% if tracked_repositories %}class="uk-active"{% endif %}><a href="#graphs"><i class="uk-icon-bar-chart">&nbsp;</i>Statistics <div class="uk-badge uk-badge-notification uk-badge-success">live!</div></a></li>
      </ul>

      <!-- This is the container of the content items -->
      <ul id="panes" class="uk-switcher">
        <li id="list-repositories">
          <div class="uk-grid uk-text-center ajax-loader">
            <div class="uk-width-1-1">
              <h2>loading...</h2>
              <i class="uk-icon-github-alt uk-icon-large uk-icon-spin"></i>
            </div>
          </div>
          {% include "./dashboard/list-repositories.html" %}
        </li {#id="list-repositories"#}>
        <li id="graphs">
          <div class="uk-grid uk-text-center ajax-loader">
            <div class="uk-width-1-1">
              <h2>loading...</h2>
              <i class="uk-icon-cog uk-icon-large uk-icon-spin"></i>
            </div>
          </div>
          {% include "./dashboard/graphs.html" %}
        </li {#id="graphs"#}>
      </ul>
    </article>
  </div>
</div>
{% endblock %}

{% block jsbottom %}
  {{ super() }}
  <script src="{{ static_url('js/d3.min.js') }}"></script>
  <script src="{{ static_url('js/nvd3.min.js') }}"></script>
  <script src="{{ static_url('js/controllers.dashboard.js') }}"></script>
{% endblock %}
