{% extends "base.html" %}

{% block main %}
    <div class="main uk-grid">
      <div class="uk-width-1-1 ">
        <article class="uk-article uk-container uk-container-center">
	  <h1 class="uk-article-title">Analytics for Open Source Developers</h1>
	  <p class="uk-article-lead">Calling all open source developers, let's see how much we are worth.</p>
	  <p></p>
	  <div class="uk-grid" data-uk-grid-margin="">
	    <div class="uk-width-medium-1-3">
	      <div class="uk-panel">
		<h2 class="uk-panel-title">                      <i class="uk-icon-book uk-icon-large"></i> Know your audience</h2>
                <p>Hosted fork/star widgets for your github projects. Your visitors can click and see real-time counters.</p>
	      </div>
	    </div>
	    <div class="uk-width-medium-1-3">
	      <div class="uk-panel">
		<h2 class="uk-panel-title">       <i class="uk-icon-cog uk-icon-large"></i> Github Activity Analysis</h2>
		<p>See how many hours of your free time  you spent building the code you are passionate about.</p>
	      </div>
	    </div>
	    <div class="uk-width-medium-1-3">
	      <div class="uk-panel">
		<h2 class="uk-panel-title">       <i class="uk-icon-beer uk-icon-large"></i> Gittip integration</h2>
		<p>With the quantified results, we provide you with a landing page that propose visitors to donate according to your personal effort.</p>
	      </div>
	    </div>
	  </div>
	  <div class="uk-grid">
            <div class="uk-width-1-4">
                  &nbsp;
            </div>
            <div class="uk-width-1-2">
              <div class="uk-panel">
                <h2>Interested?</h2>
                <p>Instanc.es is currently in private beta, you can leave your email and I'll let you know when it's ready for you to use.</p>
                <p>For now I'm just experimenting with some technologies to make a really awesome product, so I can't afford too many users.</p>
                <p>
                  {% for message in messages %}
                  <div class="uk-alert {{ message.alert_class }}">{{ message.text }}</div>
                  {% endfor %}
                  <form class="uk-form" action="{{ url_for(".subscribe") }}" method="POST">
		    <input name="email" type="text" placeholder="your@email.com">
		    <button class="uk-button" type="submit">Invite me</button>
                    <br />
                    <input type="checkbox" name="beta-please" />
                    <label for="beta-please"><small>I want to donate and get in the private beta</small></label>
                  </form>
                </p>
                <p><i class="uk-icon-magic">  <small>You can also donate and get in private beta. Please get check the box above the email address if that interests you.</small></i></p>
              </div>
            </div>
	</article>
          </div>
      </div>

{% endblock %}
