      <script src="{{ url_for('static', v=settings.RELEASE, filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', v=settings.RELEASE, filename='js/uikit.min.js') }}"></script>
      <script src="{{ url_for('static', v=settings.RELEASE, filename='js/angular.min.js') }}"></script>
      <script src="{{ url_for('static', v=settings.RELEASE, filename='js/socket.io.min.js') }}"></script>
      <script src="{{ url_for('static', v=settings.RELEASE, filename='js/d3.v3.min.js') }}"></script>
      <script src="{{ url_for('static', v=settings.RELEASE, filename='js/topojson.js') }}"></script>
      <script src="{{ url_for('static', v=settings.RELEASE, filename='js/simple-map-d3.js') }}"></script>
