<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="instances">
  <head>
    <meta charset="UTF-8">
    <title>instanc.es - analytics for open source developers</title>
    <meta name="google-site-verification" content="kSIvUEvvttuo56hQ7f3nDkNppB-BhuiojDz4cdZhXn4" />
    {% block csshead %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" type="text/css" />
    <link href="{{ static_url('css/application.min.css') }}" rel="stylesheet" />
    <link href="{{ static_url('css/style2.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block jshead %}
    <script src="{{ static_url('js/prefixfree.min.js') }}"></script>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/angular.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    {% endblock %}
    <meta name="description" content="Analytics for Open Source Developers" />
    <meta name="author" content="Gabriel Falcão" />
  </head>
  <body ng-controller="InstancesController"
        data-repo-list-url="{{ full_url_for('.ajax_repo_list', owner="<owner>") }}"
        data-tracking-code-modal-url="{{ full_url_for('.tracking_code_modal', owner="<owner>", name="<name>") }}"
        data-user-info-url="{{ full_url_for('.ajax_user_info') }}">
    <div class="logo">
      <h4><a href="{{ url_for('.index') }}">Instanc.<strong>es</strong></a></h4>
    </div>
    {% include "nav.html" %}
    <div class="wrap">
      <header ng-show="user_info" class="page-header">
        {# navbar #}{% include "header.html" %}{# /navbar #}
      </header>
      {% include "projects.html" %}
      </div>
    </div> {# .wrap #}
    <div class="container loader" ng-hide="user_info">
      <div class="row">
        <div class="col-md-12 text-align-center">
          <h1><i class="fa fa-cog spin"></i></h1>
          <h3>loading...</h3>
        </div>
      </div>
    </div>
    <script src="{{ static_url('js/bootstrap-select.js') }}"></script>
    <script src="{{ static_url('js/socket.io.min.js') }}"></script>
    <script src="{{ static_url('js/instances.js') }}"></script>
    <script src="{{ static_url('js/instances.sidebar.js') }}"></script>
    <script src="{{ static_url('js/app.js') }}"></script>
  </body>
</html>