<nav ng-show="user_info" id="sidebar" class="sidebar col-md-1 " ng-controller="InstancesSideBar">
  <ul id="side-nav" class="side-nav">
    <li >
      <a href="{{ url_for('.dashboard') }}"><i class="fa fa-cog">&nbsp;</i> <span class="name">Projects</span></a>
    </li>
    <li class="panel">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><i class="fa fa-bar-chart-o">&nbsp;</i> <span class="name">Statistics</span></a>
      <ul id="stats-collapse" class="panel-collapse collapse">
        <li><a ng-click="ShowForks(current_project)" href="">
          <i class="fa fa-code-fork"></i>
Forks</a></li>
        <li><a ng-click="ShowStars(current_project)" href="">
          <i class="fa fa-star"></i>

Stars</a></li>
        <li><a ng-click="ShowDownloaders(current_project)" href="">
          <i class="fa fa-cloud-download"></i>

Downloaders</a></li>
        <li><a ng-click="ShowIssues(current_project)" href="">
          <i class="fa fa-bug"></i>

Issues</a></li>
        <li><a ng-click="ShowPullRequests(current_project)" href="">
          <i class="fa fa-arrow-circle-down"></i>


Pull Requests</a></li>

        <li><a ng-click="ShowBadgeImpressions(current_project)" href="">
          <i class="fa fa-picture-o"></i>
Badge Impressions</a></li>
        <li><a ng-click="ShowGEOStats(current_project)" href="">
          <i class="fa fa-globe"></i>
Geographical Stats</a></li>
      </ul>
    </li>
    <li class="panel">
      <a class="accordion-toggle collapsed" data-toggle="collapse"
         data-parent="#side-nav" href="#ui-collapse"><i class="fa fa-twitter">&nbsp;</i> <span class="name">Social</span></a>
      <ul id="ui-collapse" class="panel-collapse collapse">
        <li><a ng-click="ShowTwitterMentions(current_project)" href="">
          <i class="fa fa-twitter"></i>
Mentions</a></li>
        <li><a ng-click="ShowStackoverflowTopics(current_project)" href="">
          <i class="fa fa-stack-overflow"></i>Topics</a></li>
      </ul>
    </li>
    <li class="visible-xs">
      <a href="{{ url_for('.logout') }}"><i class="icon-signout">&nbsp;</i> <span class="name">Sign Out</span></a>
    </li>
  </ul>
</nav>
